<header class="app-header">
  <div class="header-container">

    <a class="brand" routerLink="/home">
      <span class="brand-mark">◆</span>
      <span>Cine Progra IV</span>
    </a>

    <nav class="main-nav">

      <!-- CLIENTE -->
      @if (role === 'customer') {

        <a
          routerLink="/home"
          routerLinkActive="active"
        >
          Películas
        </a>

        <a routerLink="/home">
          Próximamente
        </a>

        <a
          routerLink="/mis-entradas"
          routerLinkActive="active"
        >
          Mis entradas
        </a>
      }

      <!-- EMPLEADO -->
      @if (role === 'employee') {

        <a
          routerLink="/home"
          routerLinkActive="active"
        >
          Películas
        </a>

        <a
          routerLink="/empleado"
          routerLinkActive="active"
        >
          Panel empleado
        </a>
      }

      <!-- ADMIN -->
      @if (role === 'admin') {

        <a
          routerLink="/home"
          routerLinkActive="active"
        >
          Películas
        </a>

        <a
          routerLink="/admin"
          routerLinkActive="active"
        >
          Panel administración
        </a>
      }

      @if (role) {
        <button
          type="button"
          class="logout-button"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      }

    </nav>

  </div>
</header>