<header class="app-header">
  <div class="header-container">

    @if (role() === 'customer') {
      <a class="brand" routerLink="/home">
        <span class="brand-mark">◆</span>
        <span>Cine Progra IV</span>
      </a>
    }

    @if (role() === 'employee') {
      <a class="brand" routerLink="/empleado">
        <span class="brand-mark">◆</span>
        <span>Cine Progra IV</span>
      </a>
    }

    @if (role() === 'admin') {
      <a class="brand" routerLink="/admin">
        <span class="brand-mark">◆</span>
        <span>Cine Progra IV</span>
      </a>
    }

    @if (!role()) {
      <div class="brand-group">
        <a class="brand" routerLink="/home">
          <span class="brand-mark">◆</span>
          <span>Cine Progra IV</span>
        </a>

        <a class="brand-msg">
          <span class="brand-mark">◆</span>
          <span>Usted no tiene una cuenta iniciada</span>
        </a>
      </div>
    }

    <nav class="main-nav">

      @if (role() === 'customer' || !role()) {
        <a
          routerLink="/home"
          routerLinkActive="active"
        >
          Películas
        </a>

        <a routerLink="/home">
          Próximamente
        </a>

        <a
          routerLink="/mis-entradas"
          routerLinkActive="active"
        >
          Mis entradas
        </a>
      }

      @if (role() === 'employee') {
        <a
          routerLink="/empleado"
          routerLinkActive="active"
        >
          Panel empleado
        </a>
      }

      @if (role() === 'admin') {
        <a
          routerLink="/admin"
          routerLinkActive="active"
        >
          Panel administración
        </a>
      }

      @if (role()) {
        <button
          type="button"
          class="logout-button"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      } @else {
        <button
          type="button"
          class="btn-login"
          (click)="volverAlLogin()"
        >
          Iniciar sesión
        </button>
      }

    </nav>

  </div>
</header>